.radio_list{
  &--component{
    &--avatar{
      @extend .ver-hor-centerFlex;
      margin-bottom: 15px;

      &-wrap{
        @extend .ver-hor-centerFlex;
        width: 80%;
      }
      &-img{
        @include circleSize(280px);
        @extend .circleDiv;
        background: white;
        background-size: 280px 280px;
      }
    }
  }
}