//actiom buttons
.unactiveBtn {
  pointer-events: none !important;
}

//topNav buttons
.nav--backBtn{
  font-size: $widget--btnSizes;
  @include btnEffectsColor($widget--navFontColor);
}
.nav--powerBtn{
  font-size: $widget--btnSizes;  
  @include btnEffectsColor($widget--navFontColor);
}

//radioControls buttons
.radio_list--component--avatar-minusBtn{
  font-size: $widget--btnSizes;
  @extend .circleDiv;
  @extend .ver-hor-centerFlex;
  @include circleSize(64px);
  @include btnEffectsBg($widgetBackground);
}
.radio_list--component--avatar-plusBtn{
  font-size: $widget--btnSizes;  
  @extend .circleDiv;        
  @extend .ver-hor-centerFlex;  
  @include circleSize(64px);     
  @include btnEffectsBg($widgetBackground);
}
