.bottom-border{
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.top-border{
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.circleDiv{
   -webkit-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radiust: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border: solid 5px $widget--fontColor;
}

.ver-hor-centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}