@mixin circleSize($pix){
  width: $pix;
  height: $pix;
}

@mixin btnEffectsBg($color){

  &:hover{
    background: darken($color, 5%)
  }
  &:active{
    background: darken($color, 10%)
  }
}

@mixin btnEffectsColor($color){

  &:hover{
    color: darken($color, 5%)
  }
  &:active{
    color: darken($color, 10%)
  }
}