$backgroundColor: rgb(33, 33, 43);
$mainFontSize: 44px;
$footerStaticTextSize: 22px;
$widgetWidth: 640px;
$widgetHeight: 1008px;
$widget-barsHeight: 160px;
$widget--btnSizes: 54px;
$widgetBackground: rgb(44, 44, 55);
$widget--navColor: rgb(237, 174, 97);
$widget--footerColor: rgb(34, 34, 43);
$widget--footerLine: rgb(77, 80, 92);
$widget--fontColor: rgb(162, 171, 189);
$widget--navFontColor: rgb(255, 255, 255);
$widget--bottomLineColor: rgb(67, 67, 77);