.footer {
  @extend .bottom-border;
  @extend .ver-hor-centerFlex;
  position: absolute;
  bottom: 0;
  border-top: 1px solid $widget--footerLine;
  width: $widgetWidth;
  height: $widget-barsHeight;
  background: $widget--footerColor;
  flex-direction: column;

  &--staticText{
    text-align: center;
    border-bottom: 5px;
  }
  &--stationName {
    text-align: center;
  }
}