.nav{
  height: $widget-barsHeight;
  background: $widget--navColor;
  display: flex;

  @extend .ver-hor-centerFlex;
  @extend .top-border;

  &--middleText{
    width: 80%;
    text-align: center;
  }

}