body{
  background: $backgroundColor;
  height: 100vh;
  @extend .ver-hor-centerFlex;
   
  #app{
    background: $widgetBackground;
    width: $widgetWidth;
    min-width: $widgetWidth;
    height: $widgetHeight;
    min-height: $widgetHeight;
    @extend .top-border;
    @extend .bottom-border;
    overflow: hidden;
    //Widget shadow effect
    -webkit-box-shadow: 0px 27px 52px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 27px 52px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 27px 52px -11px rgba(0,0,0,0.75);
    //=============================

    .layout {
      position: relative;
      height: 100%; 
    }
  }
}