@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


body{
  font-family: 'Roboto', sans-serif;
  color: $widget--fontColor;
  font-size: $mainFontSize;

  #app{
    
    .nav{
      color: $widget--navFontColor;
      &--middleText{
        font-weight: bold;
        text-transform: uppercase;        
      }
    }

    .footer{
      &--staticText{
        text-transform: uppercase;
        color: $widget--navColor;
        font-size: $footerStaticTextSize;
        font-weight: bold;
      }
    }
  }
}