   #app{

    .radio_list {

      &--component{
        width: 90%;
        min-height: 22px;
        height: 100%; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        padding-bottom: 45px;
        border-top: solid 1px $widget--bottomLineColor;

        &--clickTab{
        display: flex;  
        height: 100%;

          &-freq{
          flex-grow: 1;
          text-align: right;
          font-weight: bold;
          }
          &-stationName{
          flex-grow: 1;
          }
        }
      }
    }
  }
